<header>
  <div class="container">
    <!-- Logo a la izquierda -->
    <div class="logo">
      <a routerLink="/" class="d-flex align-items-center text-decoration-none">
        <img
          src="../../../../../assets/img/Logo/Logo_Extractly.webp"
          alt="Extractly Logo"
        />
        <span>Extractly</span>
      </a>
    </div>

    <!-- Navegación centrada -->
    <nav>
  <a routerLink="/app/pdf-summary">Resumen de PDF</a>
  <a routerLink="/app/content-entry-yt">Entrada de links</a>
    <a routerLink="/app/app-youtube-pptx-generator">Entrada de links para pptx</a>
  <a routerLink="/app/pptx-summary">Resumen de PPTX</a>
  <a routerLink="/app/equipo">Equipo</a>
  <a routerLink="/app/filesave">Historial</a>


</nav>

    <!-- Botones y perfil a la derecha -->
    <div class="right-side">
      <div class="actions" *ngIf="!authService.check()">
        <button class="outline" routerLink="/login">Iniciar Sesión</button>
        <button class="primary" routerLink="/signup">Registrarse</button>
      </div>

      <div class="page-header" [ngClass]="{ close_icon: !layoutService.navbarOpen }" *ngIf="authService.check()">
        <div class="header-wrapper">
          <div class="nav-right">
            <ul class="nav-menus">
              <li class="profile-nav onhover-dropdown">
                <app-my-account></app-my-account>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

