// General variables
$theme-font-color: #242934;
$theme-body-font-color: #2f2f3b;
$theme-body-sub-title-color: #52526c;
$body-color: #f8f8f8;
$main-body-color: #f7f8f9;

//CodeRiders
$background-color: #1B1818;
$primary-color: #FF7E10;
$secondary-color: #81A969;
$color-text: #EEEEEE;

$white: #fff;
$black: #000;
$light-text: #999999;
$card-body-color: #f9f9fa;
$card-border-color: #f2f4ff;
$dark-color: #2c323f;

//fonts
$primary-text: "Montserrat Variable", sans-serif;
$secondary-text: "Rajdhani", sans-serif;
$normal-text: "Open Sans", sans-serif;

//social colors
$fb: #50598e;
$twitter: #6fa2d8;
$google-plus: #c64e40;
$linkedin: #0077b5;

// soical table
$fb-color: #2f84f4;
$insta-color: #fc971e;
$pintrest-color: $secondary-color;
$twitter-color: #57b9f6;
$youtube-color: #f42f2f;

//error input color start
$light-body-bg-color: #fafdff;


// Tables settings
$table-b-margin: 0px;
$table-heading-color: $theme-body-font-color;
$table-row-color: $theme-body-font-color;
$table-footer-font-weight: bold;
$table-inverse-color: $color-text;
$table-padding: 0.75rem;
$table-xl-padding: 1.25rem 2rem;
$table-xl-font: 120%;
$table-lg-padding: 0.9rem 2rem;
$table-lg-font: 110%;
$table-de-padding: 0.75rem 2rem;
$table-de-font: 100%;
$table-sm-padding: 0.5rem 2rem;
$table-sm-font: 90%;
$table-xs-padding: 0.2rem 2rem;
$table-xs-font: 80%;
$horizontal-border-color: #f2f4ff;
$horizontal-padding: 0.75rem 2rem;
$table-inverse-bg-color: #292b2c;

//Alert settings
$alert-hover-color: $background-color;
$alert-border-radious: 0.15rem;
$alert-padding: 15px;
$alert-msg-icon-size: 16px;

//badge settings
$badge-padding: 0.44em 0.7em;
$badge-svg-size: 12px;

//form input settings
$form-group-margin-bottom: 1.25em;
$col-form-label-font-size: 14px;
$form-control-font-size: 14px;
$form-control-border-radious: 2px;

//buttons setting
$btn-font-size: 14px;
$btn-padding: 0.375rem 1.75rem;
$btn-lg-font-size: 18px;
$btn-sm-font-size: 12px;
$btn-xs-font-size: 11px;
$btn-xs-padding: 0.05rem 0.4rem;

//Card settings
$card-padding: 30px;
$card-margin-bottom: 30px;
$card-border-radious: 15px;
$card-box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
$card-header-bg-color: $color-text;
$card-header-font-transform: capitalize;
$card-header-span-size: 12px;
$card-header-span-color: $theme-body-sub-title-color;
$card-footer-bg-color: $color-text;
$card-hover-box-shadow: 0 0 40px rgba(8, 21, 66, 0.05);

//footer settings
$footer_bg_color: $color-text;
$footer_dark_color: $theme-font-color;
$footer_dark__txt_color: $color-text;

//form settings
$form-group-margin-bottom: 20px;
$sm-form-margin-bottom: 14px;
$form-placeholder-font-size: 14px;
$form-placeholder-letter-spacing: 1px;
$form-placeholder-font-weight: 100;
$form-input-bg-color: $color-text;

//Tour settings
$tour-color: var(--theme-default);

//sidabr main settings
$sidebar-width: 255px;
$sidebar-position: fixed;
$sidebar-background-color: $color-text;
$sidebar-shadow: 0 0 11px rgba(69, 110, 243, 0.13);
$sidebar-overflow: auto;
$sidebar-z-index: 9;
$sidebar-transition: 0.5s;
$sidebar-fill-icon-color: #757589;

//sidebar profile settings
$sidebar-profile-edit-icon-size: 14px;
$sidebar-profile-name-txt-color: var(--theme-default);
$sidebar-profile-name-txt-transfer: uppercase;
$sidebar-profile-name-txt-weight: 600;
$sidebar-profile-name-letter-specing: 1.5px;
$sidebar-profile-name-marging: 3px;
$sidebar-profile-sub-title-font-size: 10px;
$sidebar-profile-sub-title-margin: 0px;
$sidebar-profile-img-shadow: 0 0 15px rgba(68, 102, 242, 0.3);

//Sidebar main menu setting
$sidebar-menu-padding: 15px;
$sidebar-menu-list-style: none;
$sidebar-menu-list-margin: 0;
$sidebar-icon-size: 14px;
$sidebar-icon-margin: 14px;
$sidebar-icon-stroke-width: 3px;
$sidebar-font-size: 14px;
$sidebar-letter-specing: 0.5px;
$sidebar-txt-transform: capitalize;
$sidebar-font-weight: 600;
$sidebar-font-color: $theme-body-font-color;
$sidebar-padding-top: 12px;
$sidebar-padding-bottom: 12px;
$sidebar-sub-header-padding: 15px;
$sidebar-sub-header-margin: 0;
$sidebar-heading-hover-padding: 5px;
$sidebar-hover-txt-color: var(--theme-default);
$sidebar-arrow-margin-top: 2px;
$sidebar-arrow-size: 15px;
$sidebar-arrow-color: $theme-body-font-color;
$sidebar-open-icon: "\f107";
$sidebar-close-icon: "\f105";
$sidebar-height: calc(100vh - 115px);
$sidebar-compact-width: 265px;

//Header settings
$main-header-position: fixed;
$main-header-top: 0;
$main-header-shadow-1: 0px 4px 40px rgba(39, 32, 120, 0.1);

//page settings
$page-body-padding: 0 15px 0 15px;
$page-body-margin-bottom: 0px;
$page-title-padding: 15px 30px;
$common-box-shadow: 2px 3.464px 8px 0px rgba(22, 145, 248, 0.18);
$page-title-font-size: 24px;
$page-title-margin-bottom: 0;
$page-title-text-tranform: capitalize;
$page-small-title-display: block;
$page-small-title-font-size: 12px;
$page-small-title-margin-bottom: 5px;
$page-small-title-text-transform: capitalize;
$page-small-title-text-color: $theme-body-sub-title-color;
$breadcrumb-size: 16px;
$breadcrumb-content: "/";

//main header left settings
$header-left-bg-color: $color-text;
$main-header-padding: 27px 22px;
$main-header-z-index: 8;
$header-wrapper-padding: 22px 30px;
$header-wrapper-nav-right: 0px;
$header-wrapper-nav-icon-size: 20px;
$header-wrapper-nav-icon-color: $theme-font-color;
$header-wrapper-nav-icon-align: middle;
$header-size: 136px;
$box-layout-space: 40px;

// widgets variables
$widget-shadow: 1px 2px 21px -2px rgba(214, 214, 227, 0.83);
$color-text: #fff;
