//code raiders
$background-color: #1B1818;
$primary-color: #FF7E10;
$secondary-color: #FF9A3C; // naranja más claro
$highlight-color: #333;
$color-text: #EEEEEE;

$white: #fff;
$black: #000;
$light-text: #AAAAAA;
$card-body-color: #262323;
$card-border-color: #3a3a3a;
$dark-color: #2c323f;

//fonts
$primary-text: "Montserrat Variable", sans-serif;
$secondary-text: "Rajdhani", sans-serif;
$normal-text: "Open Sans", sans-serif;