//code raiders
$background-color: #1B1818;
$primary-color: #FF7E10;
$secondary-color: #FF9A3C; // naranja más claro
$highlight-color: #333;
$color-text: #EEEEEE;
$terciary-color: #E9E6E3;

$white: #fff;
$black: #000;
$light-text: #999999;
$card-body-color: #f9f9fa;
$card-border-color: #f2f4ff;
$dark-color: #2c323f;


$primary-text: "Montserrat Variable", sans-serif;
$secondary-text: "Rajdhani", sans-serif;
$normal-text: "Open Sans", sans-serif;

