@import '../../../assets/utils/variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, $primary-color, $secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}

.reset-password-card {
  background-color: rgba($terciary-color, 0.25);
  backdrop-filter: blur(12px);
  z-index: 1;
  border-radius: 20px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: $background-color;

  h2 {
    margin-bottom: 1rem;
    font-family: $secondary-text
  }

  p {
    margin-bottom: 1.5rem;
    font-family: $normal-text;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    background: linear-gradient(to left, #ff7e10, #81a969);
    color: $terciary-color;
  }
}
