<div class="media profile-media d-flex align-items-center" (click)="toggleMenu()" style="cursor:pointer;">
  <i class="fa-regular fa-user"></i>
  <div class="media-body"><span>{{userName}} <i class="fa-solid fa-chevron-down"></i></span>
  </div>
</div>
<ul class="profile-dropdown" [ngClass]="{'onhover-show-div': menuOpen}">
  <li routerLink="profile"><i class="fa-solid fa-user-tie"></i><span>Profile</span></li>
  <li (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log out</span></li>
</ul>